.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
 
}
.header-content{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 1200px;
  margin: auto;
}
input{
  height: 30px;
  width: 200px;
}
button{
  height: 30px;
  background-color: #fff;
  border: 0px; 
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}
table{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  border-spacing:0; 
}
table thead{
  background-color: #282c34;
  color: white;
  text-align: start;
}
table th{
  background-color: #282c34;
  color: white;
  text-align: start;
 padding: 15px 10px;
 
}
table th:not(:first-child){
  border-left: 1px solid #ffffff;
}

table td{
 width: 50%;
 text-align: start;
 padding: 15px 10px;
 margin: 0; 
 border-bottom: 0px solid #282c34;

}
table{
  border: 1px solid #282c34 !important;
}
table td:not(:first-child){
  border-left: 1px solid #282c34;
}
table tr:not(:last-child) td{
  border-bottom: 1px solid #282c34;
}
table tr:nth-child(odd){
 background-color: rgba(208, 208, 208, 0.355);
}
section div{
  margin-top: 50px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.lds-ring {
  margin-top: 50px;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #282c34;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #282c34 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}